table, td, tr, th{
    border: 2px solid black;
    border-collapse: separate;
    margin: 0 auto;
    font-size: 18px;
    

}

th{
    font-weight: 800;
}

td{
    font-weight: 600;
}

td, tr, th{
   
    padding: 5px;
    background-color: silver;
   
}

input{
    background-color: gainsboro;
}




